p{
    width: 70%;
    border: 1px solid black;
    margin: 10px auto;
    padding: 30px;
    text-align: center;
    word-spacing: 30px;
    
}

p:nth-child(1) span:first-child {
    font-style: italic;
}

p:nth-child(2){
    background-color: yellow;
}


p:nth-child(2) span:nth-child(2){
    color:red;
}

p:nth-child(3) span{
    font-weight: bold;
}


p:nth-child(4) span:first-child:hover~span{
    color: yellow;
    border: 1px solid green;
}


p:nth-last-child(3) span:nth-last-child(2){
    text-decoration: underline wavy red;
    display: inline;
}

p:nth-child(6) span:nth-child(2){
    background-color: green;
}


